@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

html {
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: none;
  padding: 0;
  margin: 1px;
  height: calc(100% - 2px);
  background: transparent;
  border-radius: 7px;
  font-family: "Geist", sans-serif;
  user-select: none;
  border: 1px solid #fff;
}
body {
  color: #ffffff;
  background: #000000;
  position: fixed;
  width: calc(100% - 2px);
}

/* ------------------------- title bar style ------------------------- */
.titlebar {
  height: 24px;
  border-radius: 10px 10px 0 0;
  background: transparent;
  color: transparent;
  box-shadow: none;
  user-select: none;
  border: none;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  gap: 8px;
  padding: 0 8px;
  margin-top: 12px;
  width: fit-content;
  z-index: 9999;
}

/* ------------------------- title bar buttons style ------------------------- */
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  padding: 2px;
  cursor: pointer;
}
.titlebar:hover {
  color: #4a4a4a;
}

#titlebar-close {
  background: #ff605c;
}

#titlebar-minimize {
  background: #ffbd44;
}

#titlebar-maximize {
  padding: 1px;
  background: #00ca4e;
  rotate: 90deg;
}

/* ------------------------- sidemenu resizer style ------------------------- */
#SideMenu > div > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#SideMenu > div > div:nth-child(3) > div {
  width: 3px !important;
  border-radius: 100px;
  background-color: #d95e00;
  margin-right: 6px;
  /* border: 2px solid #262626; */
}

.gradient-background {
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    /* background-position: 0% 50%; */
    background: #111111;
  }
  50% {
    /* background-position: 100% 50%; */
    background: #cbcbcb;
  }
  100% {
    /* background-position: 0% 50%; */
    background: #111111;
  }
}

/* ------------------------- sidemenu style ------------------------- */
.scrollbar {
  /* IE, Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  /* Chrome, Safari */
  ::-webkit-scrollbar {
    display: none;
  }
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

/* tooltip */
.react-tooltip-arrow {
  display: none;
}

/* ------------------------- fullscreen style ------------------------- */
.fullscreen {
  background-color: black;
  color: red;
}

/* ------------------------- input[type="color"] style ------------------------- */
input[type="color"] {
  border: none;
  width: 94px;
  height: 20px;
  border-radius: 3px;
  position: absolute;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 3px;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 3px;
}

/* ------------------------- splash animation style ------------------------- */
@keyframes move-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}

@keyframes irregular-blink {
  0%,
  41%,
  43%,
  47%,
  49%,
  100% {
    opacity: 1;
  }
  42%,
  48% {
    opacity: 0;
  }
}

.irregular-blink-animation {
  animation: irregular-blink 2s infinite;
}

/* ------------------------- carendar style ------------------------- */
.react-calendar-heatmap {
  width: 150px;
  height: 34px;
  padding: 0;
  margin: 0;
  border: none;
}

.skeleton {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5px,
    #e5e5f7 5px,
    #e5e5f7 10px
  );
}
/* ------------------------- shadcn ------------------------- */

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #080808;
    --card: #ffffff;
    --card-foreground: #080808;
    --popover: #ffffff;
    --popover-foreground: #080808;
    --primary: #050505;
    --primary-foreground: #fafafa;
    --secondary: #f3f3f3;
    --secondary-foreground: #050505;
    --muted: #f3f3f3;
    --muted-foreground: #757575;
    --accent: #f3f3f3;
    --accent-foreground: #050505;
    --destructive: #e61919;
    --destructive-foreground: #fafafa;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #080808;
    --radius: 0.5rem;
    --chart-1: #d01f2d;
    --chart-2: #38b384;
    --chart-3: #236e73;
    --chart-4: #9ddb72;
    --chart-5: #f3df4d;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #050505;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #4b0f0f;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d8d8d8;
    --chart-1: #0058ff;
    --chart-2: #28998a;
    --chart-3: #d88e30;
    --chart-4: #c95ede;
    --chart-5: #f23f84;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

.EmojiPickerReact.epr-dark-theme {
  background-color: #000000 !important;
  border-radius: 4px;
  border: 1px solid #ffffff;
}

.FinderAccordion,
.OutlineAccordion {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.accordion-content {
  overflow-y: auto;
  flex-grow: 1; /* 高さを動的に調整 */
  max-height: 100%; /* スクロール領域の制限 */
}

.scroll-area {
  overflow-y: auto;
  max-height: 100%; /* 必要に応じて調整 */
}
